@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #edd6d6;
  --foreground: #1e1e1e;

  --white: #f6f4ef;
  --black: #1e1e1e;

  --primary: #edd6d6;
  --secondary: #cae4da;

  --true-white: #FFF;
  --light-gray: #fffefc;
  --dark-grey: #d0cec9;

  --black-rgb: rgba(30,30,30,0.9);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .primary-button {
    @apply bg-black text-white
  }

  .skill-container {
    @apply bg-(--black) text-(--secondary) rounded-lg p-5 text-center
  }

  .icons-container {
    @apply m-5 flex justify-around items-center
  }

  .icon-card {
    box-shadow: -3px 3px var(--black-rgb);
    @apply my-10 bg-(--primary) w-[90px] h-[90px] border-(--black) border
  }

  .icon-img {
    @apply absolute
  }

  .icon-card:hover .icon-img {
    @apply opacity-25
  }

  .hidden-text {
    @apply text-(--black) opacity-0 text-sm m-auto
  }

  .icon-card:hover .hidden-text {
    @apply opacity-100
  }

  .full-container {
    box-shadow: 5px 5px var(--black-rgb);
    @apply bg-(--white) border-3 border-(--black)
  }

  .top-bar {
    @apply flex justify-between items-center border-b-3 gap-10
  }

  .bar-title {
    @apply font-bold
  }

  .close-container {
    @apply border-2 border-(--black) bg-(--white) m-1
  }

  .exp-body {
    @apply p-3 font-bold h-90
  }

  .navbar {
    box-shadow: 0 2px #fffdfc, 0 4px #b7eaed;
    z-index: 1000;
    @apply fixed w-full bg-(--white) w-fit flex gap-5 px-5 h-fit py-3 font-bold gap-18
  }

  .nav-button {
    padding: 2px;
    box-shadow:
      -2px -2px var(--light-gray),
      -2px 0 var(--light-gray),
      0 -2px var(--light-gray),
      -4px -4px var(--true-white),
      -4px 0 var(--true-white),
      0 -4px var(--true-white),
      2px 2px var(--dark-grey),
      0 2px var(--dark-grey),
      2px 0 var(--dark-grey),
      2px -2px var(--light-gray),
      -2px 2px var(--dark-grey),
      -4px 2px var(--true-white),
      -4px 4px var(--black),
      4px 4px var(--black),
      4px 0 var(--black),
      0 4px var(--black),
      2px -4px var(--true-white),
      4px -4px var(--black);
  }

  .nav-button.active {
    box-shadow:
      -2px -2px var(--dark-grey),
      -2px 0 var(--dark-grey),
      0 -2px var(--dark-grey),
      -4px -4px var(--black),
      -4px 0 var(--black),
      0 -4px var(--black),
      2px 2px var(--light-gray),
      0 2px var(--light-gray),
      2px 0 var(--light-gray),
      2px -2px var(--dark-grey),
      -2px 2px var(--light-gray),
      -4px 2px var(--black),
      -4px 4px var(--true-white),
      4px 4px var(--true-white),
      4px 0 var(--true-white),
      0 4px var(--true-white),
      2px -4px var(--black),
      4px -4px var(--true-white);
  }

  .full-height {
    height: inherit;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #F6F4EF;
    --white: #000000;
    --black: #F6F4EF;
    --primary: #41393E;
    --secondary: #668F80;
    --true-white: #FFF;
    --light-gray: #fffefc;
    --dark-grey: #d0cec9;
  
    --black-rgb: rgba(246,244,239,0.9);
  }
}

body {
  background: var(--primary);
  color: var(--foreground);
  font-family: var(--font-saira);
}