@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #edd6d6;
  --foreground: #1e1e1e;
  --white: #f6f4ef;
  --black: #1e1e1e;
  --primary: #edd6d6;
  --secondary: #cae4da;

  --black-rgb: 30,30,30;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .primary-button {
    @apply bg-black text-white
  }

  .nav-section {
    @apply text-(--background)
    
  }

  .nav-section:hover {
    @apply text-(--secondary) font-bold
  }

  .nav-section.selected {
    @apply text-(--background) font-bold
  }

  .skill-container {
    @apply  bg-(--foreground) text-(--secondary) rounded-lg p-5 text-center
  }

  .icons-container {
    @apply m-5 flex justify-around items-center
  }

  .icon-card {
    @apply bg-(--primary) w-[90px] h-[90px] shadow-[-3px_3px_0_0_rgba(30,30,30,0.9)] border-(--black) border
  }

  .icon-img{
    @apply absolute
  }

  .icon-card:hover .icon-img{
    @apply opacity-25
  }

  .hidden-text {
    @apply text-(--foreground) opacity-0 text-sm m-auto
  }

  .icon-card:hover .hidden-text {
    @apply opacity-100
  }

  .full-container {
    @apply  bg-(--white) border-3 border-(--foreground) shadow-[5px_5px_0_0_rgba(30,30,30,0.9)] h-fit
  }

  .top-bar {
    @apply flex justify-between items-center border-b-3 gap-10
  }

  .bar-title {
    @apply  font-bold
  }

  .close-container {
    @apply border-2 border-(--foreground) bg-(--white) m-1
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --foreground: #edd6d6;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-saira);
}
